<nav class='blue darken-4'>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'>mongoDb</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>

      {{#if isIndex}}
        <li class='active'><a href='/'>main</a></li>
      {{else}}
        <li><a href='/'>main</a></li>
      {{/if}}

      {{#if isCreate}}
        <li class='active'><a href='/create'>create</a></li>
      {{else}}
        <li><a href='/create'>create</a></li>
      {{/if}}

    </ul>
  </div>
</nav>