<main class='wrapper' id='wrapper'>
  <section class='section__first'>
    <div class='first__data'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque iusto
      sed illum obcaecati nobis ipsum ducimus eos at ex? Commodi veritatis quis
      totam ut, alias atque corrupti consequatur at.
    </div>
    <button class='first__button'>Action!</button>
  </section>
</main>